<div class="inputContainer">
  <input [(ngModel)]="inputValue" type="text" />
  <button (click)="addTask()">Add note</button>
</div>

<div class="tasksContainer">
  @for (taskObject of tasks; track $index) {
  <ul>
    <div class="task">
      <app-todo-task
        [inputTask]="taskObject.task"
        [inputStatus]="taskObject.status"
        [inputTaskObject]="taskObject"
        (onStatusChange)="statusChange($event)"
      ></app-todo-task>
      <button (click)="removeTask()">Remove</button>
    </div>
  </ul>
  }
</div>
